// fonts
$font-1: 'Open Sans Pro', sans-serif;
$font-2: 'Roboto', sans-serif;

// viewports
$desktop-bp: 700px;

$navbar-h: 45px;

// colors
$primary: rgb(233,62,53);
$green: rgb(52,178,26);
$red: rgb(233,62,53);

$transition-duration: 0.15s;
$play-bt-size: 160px;